<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <!--[formGroup]="signUpForm" =>This tells the angular to use my FormGroup-->
      <!--formControlName="username" => tells to use our created control in FormGroup-->
      <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
        <div formGroupName="userData">
          <div class="form-group">
            <label for="username">Username</label>
            <input
              type="text"
              id="username"
              formControlName="username"
              class="form-control">
            <!--to display the message if invalid-->
            <span
              *ngIf="!signUpForm.get('userData.username').valid
              && signUpForm.get('userData.username').touched">
            <span *ngIf="signUpForm.get('userData.username').errors['required']
              ">This Field is Required!</span>
              <span *ngIf="signUpForm.get('userData.username').errors['nameisForbidden']
              ">This is Invalid name!</span>
          </span>
          </div>
          <div class="form-group">
            <label for="email">email</label>
            <input
              type="text"
              id="email"
              formControlName="email"
              class="form-control">
            <span
              *ngIf="!signUpForm.get('userData.email').valid
              && signUpForm.get('userData.email').touched">
            Please Enter a Valid email!
          </span>
          </div>
        </div>
          <div class="radio" *ngFor="let gender of genders">
            <label>
              <input
                type="radio"
                formControlName="gender"
                [value]="gender">{{ gender }}
            </label>
          </div>

          <div formArrayName="hobbies">
            <h4>Add Hobbies</h4>
            <button class="btn btn-primary" (click)="onAddHobby()">Add Hobby</button>
            <div class="form-group"
                 *ngFor="let hobbies of signUpForm.get('hobbies').controls; let i = index">
              <input type="text" class="form-control" [formControlName]="i">
            </div>
          </div>


        <span *ngIf="!signUpForm.valid && signUpForm.touched">
            Please Enter a Valid Data!!
          </span>
        <button class="btn btn-primary" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>
